# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.so

# BlinkUI
.blink/
testapp/
test_*.py

# MkDocs
site/

# Android
android/.gradle/
android/.idea/
android/build/
android/local.properties
android/wget-log*
android/gradle/wrapper/dists/

# Backup files
*.bak

# OS
.DS_Store
Thumbs.db
